@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    width: 100%;
    margin-bottom: 50px;
}
.header-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 15px;
}
.nav-logo{
    font-size: 30px;
    font-weight: 700;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-menu-a{
    font-size: 20px;
}
.nav-login{
    border-radius: 20px;
    background-color: rgb(45, 105, 225);
    color: aliceblue;
    padding: 10px;
}
.content-info-product{
    max-width: 1000px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: auto;
}
.content-product{
    width: 280px;
    border: 1px solid #333333;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.imagen-product{
    width: 100%;
}
.imagen-product img{
    width: 100%;
}
.content-product hr{
    margin: 3px 0;
}
.precio-product{
    font-weight: 600;
}
.btn-ver-produc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.btn-produc{
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid #333333;
    border-radius: 20px;
    cursor: pointer;
}
.table-image img{
    width: 150px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.tabla-produc-admin .table-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-flex{
    text-align: center;
}
.panel{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}
.cont-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-input{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    gap: 10px;
}
.btn_image{
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}
.campo{
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.campo input{
    padding: 5px;
    outline: none;
}
.cont-tabla{
    width: 100%;
}
.tabla-produc-admin{
    width: 100%;
}
.campo-guardar input{
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: cadetblue;
    cursor: pointer;
}
.tabla-produc-admin tr{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #ddd;
}
.tabla-produc-admin th{
    display: none;
}
.tabla-produc-admin td{
    display: block;
}
.tabla-produc-admin td:first-child {
    padding-top: 0.5em;
}
.tabla-produc-admin td:last-child {
    padding-bottom: 0.5em;
}
.tabla-produc-admin td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .tabla-produc-admin td:before {
        display: none;
    }
}
.tabla-produc-admin th, .tabla-produc-admin td {
    text-align: left;
}
@media (min-width: 480px) {
    .tabla-produc-admin th, .tabla-produc-admin td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .tabla-produc-admin th:first-child, .tabla-produc-admin td:first-child {
        padding-left: 0;
    }
    .tabla-produc-admin th:last-child, .tabla-produc-admin td:last-child {
        padding-right: 0;
    }
}
.tabla-produc-admin {
    background: #5a8ac0;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}
.tabla-produc-admin tr {
    border-color: #46637f;
}
.tabla-produc-admin th, .tabla-produc-admin td {
    margin: 0.5em 1em;
}
@media (min-width: 480px) {
    .tabla-produc-admin th, .tabla-produc-admin td {
        padding: 1em !important;
}
}
.tabla-produc-admin th, .tabla-produc-admin td:before {
    color: #dd5;
}
.tabla-produc-admin tr,
.tabla-produc-admin tbody,
.tabla-produc-admin thead,
.tabla-produc-admin th,
.tabla-produc-admin td{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border: 1px solid #333333;
}