@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    width: 100%;
    margin-bottom: 20px;
    background-color: #00CED1;
}
.header-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 15px;
}
.nav-logo{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-menu-a{
    font-size: 20px;
    color: #F0FFF0;
}
.nav-menu-a:hover{
    background-color: #333333;
    padding: 5px;
    border-radius: 10px;
}
.principios{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principios p{
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid #000000;
    padding-bottom: 2px;
}
.nav-login{
    border-radius: 20px;
    background-color: rgb(45, 105, 225);
    color: aliceblue;
    padding: 10px;
}
.content-info-product{
    max-width: 1000px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: auto;
}
.content-product{
    width: 280px;
    border: 1px solid #333333;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.imagen-product{
    width: 100%;
}
.imagen-product img{
    width: 100%;
}
.content-product hr{
    margin: 3px 0;
}
.precio-product{
    font-weight: 600;
}
.btn-ver-produc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.btn-produc{
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid #333333;
    border-radius: 20px;
    cursor: pointer;
}
.table-image img{
    width: 150px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.tabla-produc-admin .table-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-flex{
    text-align: center;
}
.panel{
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}
.cont-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-input{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    gap: 10px;
}
.btn_image{
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}
.campo{
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.campo input{
    padding: 5px;
    outline: none;
}
.cont-tabla{
    width: 100%;
}
.tabla-produc-admin{
    width: 100%;
}
.campo-guardar input{
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: cadetblue;
    cursor: pointer;
}
.tabla-produc-admin{
    border: 1px solid #333333;
}
.tabla-produc-admin tr,
.tabla-produc-admin td{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #333333 !important;
}
.tabla-produc-admin th{
    display: none;
}
.tabla-produc-admin td{
    display: block;
}
.tabla-produc-admin td:first-child {
    padding-top: 0.5em;
}
.tabla-produc-admin td:last-child {
    padding-bottom: 0.5em;
}
.tabla-produc-admin td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .tabla-produc-admin td:before {
        display: none;
    }
}
.tabla-produc-admin th, .tabla-produc-admin td {
    text-align: left;
}
@media (min-width: 480px) {
    .tabla-produc-admin th, .tabla-produc-admin td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .tabla-produc-admin th:first-child, .tabla-produc-admin td:first-child {
        padding-left: 0;
    }
    .tabla-produc-admin th:last-child, .tabla-produc-admin td:last-child {
        padding-right: 0;
    }
}
.tabla-produc-admin {
    background: #ffffff;
    color: #000000;
    border-radius: 0.4em;
    overflow: hidden;
}
.tabla-produc-admin tr {
    border-color: #46637f;
}

@media (min-width: 480px) {
    .tabla-produc-admin th, .tabla-produc-admin td {
        padding: 1em !important;
}
}
.tabla-produc-admin th, .tabla-produc-admin td:before {
    color: #000000;
    border-bottom: 1px solid #333333 !important;
}
.tabla-produc-admin tr,
.tabla-produc-admin tbody,
.tabla-produc-admin thead,
.tabla-produc-admin th,
.tabla-produc-admin td{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.btnacciones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-accion button{
    padding: 10px;
    border-radius: 10px;
    background-color: #6176eb;
    border: none;
    cursor: pointer;
}
#imagen-prod{
    display: none;
}
#delete{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.footer{
    background-color: #00CED1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    color: #ffffff;
}
.redes-s{
    width: 20px;
}
.redes-s img{
    width: 100%;
}
.logo-footer{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
.footer-list{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.redes-cont{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.campos-form{
    background-color: #00CED1;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    height: min-content;
    width: 400px;
    border-radius: 25px;
    background-color: #ffff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    text-align: center;
}
.campos-placeholder, .button-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.button-form button{
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.campos-placeholder input{
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.input-field{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.regresar{
    padding: 10px;
    background-color: #6176eb;
    border-radius: 10px;
    color: #ffffff;
    font-size: 25px;
}

.acction{
    width: 90%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout{
    padding: 10px;
    background-color: #d13e1d;
    border-radius: 10px;
    color: #ffffff;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
form .campos-placeholder{
    margin: 18px 0;
}

form .campos-placeholder label {
    display: block;
    font-size: 20px; 
    color: #404040;
}

form .campos-placeholder input {
    width: 100%;
    height: 40px;
    margin-top: 6px;
    padding: 0 12px 0 34px;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    font-size: 18px;
    color: #404040;
    transition: 1ms;
}


form .campos-placeholder input:focus{
    border-color: #124ce7;
    box-shadow: 0 0 12px #bbd3ff;
}


form .campos-placeholder input:valid{
    border-color: #124ce7;
    background: #e4edff;
}


.campos-placeholder i {
    position: absolute;
    color: #404040;
    transform: translateX(12px) translateY(16px);
    font-size: 20px;
}